*{
    font-family: "BPG Nino Elite Cond", sans-serif;
}

.form-left-column p{
    font-size: 22px;
    text-align: center;
    color: #fff;
}
  
.left-text{
    position: absolute;
    z-index: 3;
    max-width: 90%;
    /* margin-top: 20px; */
    text-align: center;
    /* text-transform: capitalize; */
}
 
.img-sign-in-text{
    margin-top: 40px;
}

.img-sign-up-text{
    margin-top: 20px;
}

.img-price-text{
    margin-top: 40px;
}

.img-btn{
    font-size: 20px;
    width: 90%;
}


.show-sign-in{
    font-size: 20px;
}

.sign-up-input label, .sign-in-input label{
    font-size: 22px;
    text-transform: uppercase;
}
  
.sign-up-input input, .sign-in-input input{
   font-size: 20px;
}

.sign-up-btn{
    font-size: 20px;
}

.sign-in-btn{
    font-size: 20px;
}

.price-wrapper span{
    font-size: 22px;
}

